* {
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.container {
  display: grid;
  grid-template-columns: 15% 50% 35%;
  height: 750px;
  gap: 10px;
  margin: 0 auto;
  padding: 10px;
  background: #f5f5f5; /* Added background color */
  overflow: hidden; /* Prevent overflow */
}

.column:first-child {
  padding-left: 7px;
}

.column:nth-child(2) {
  margin-left: 90px; /* Added margin left for the second column */
  width: 640px;
}

.column:nth-child(2) > .additionalContainer {
  margin-top: 20px; /* Added margin-top to separate from the second column */
}
@media (min-width: 1024px) {
  .container {
    grid-template-columns: 2% 675px 15%;
  }

  .menuList {
    margin-left: 40px;
  }

  .imagesContainer {
    margin-left: 60px;
  }

  .userList {
    margin-right: 60px;
  }
}
@media (min-width: 1366px) {
  .container {
    grid-template-columns: 17% 675px 15%;
  }

  .menuList {
    margin-left: 40px;
  }

  .imagesContainer {
    margin-left: 60px;
  }

  .userList {
    margin-right: 60px;
  }
}

@media (min-width: 1152px) {
  .container {
    grid-template-columns: 12% 675px 15%;
  }

  .menuList {
    margin-left: 40px;
  }

  .imagesContainer {
    margin-left: 60px;
  }

  .userList {
    margin-right: 60px;
  }
}
@media (min-width: 1600px) {
  .container {
    grid-template-columns: 10% 60% 30%;
  }

  .menuList {
    margin-left: 40px;
  }

  .imagesContainer {
    margin-left: 60px;
  }

  .userList {
    margin-right: 60px;
  }
}

@media (max-width: 1728px) {
  .container {
    grid-template-columns: 17% 675px 15%;
  }
}
