.imageContainer {
  display: flex;
  gap: 3px;
}
.imageWrapper {
  position: relative;
}
.imageWrapper:first-child > .image {
  width: 120px;
  height: 180px;
  margin-top: 2px;
}
.image {
  width: 126px;
  height: auto;
}

.smallImage {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 40px;
  height: 40px;
}
@media (max-width: 1728px) {
  .image {
    width: 126px;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .imageContainer {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 800px) {
  .imageContainer {
    grid-template-columns: 1fr;
  }

  .image {
    width: 100%;
    height: auto;
  }
}
